.btn-favoritos[b-nyj43au4fv] {
    display: flex;
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

img[b-nyj43au4fv] {
    margin: 2px;
    height: 25px;
}

p[b-nyj43au4fv] {
    margin: 2px;
    color: white;
}

@media (max-width: 641px) {
    .btn-favoritos[b-nyj43au4fv] {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 3px;
        left: 55px;
        z-index: 100;
    }
}
