body[b-cdpghd87lk] {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal[b-cdpghd87lk] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content[b-cdpghd87lk] {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close[b-cdpghd87lk] {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover[b-cdpghd87lk],
    .close:focus[b-cdpghd87lk] {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }