.carousel-cards[b-c56h67kpvc] {
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel-title[b-c56h67kpvc] {
    color: white;
    font-size: 16px;
    margin: 10px 0 0 10px;
}

.cards-container[b-c56h67kpvc] {
    width: 300%;
    height: auto;
    display: flex;
}

.btn-cards-left[b-c56h67kpvc] {
    border: 0;
    padding: 0;
    height: 140px;
    color: white;
    background-color: transparent;
    z-index: 100;
    position: absolute;
}

    .btn-cards-left img[b-c56h67kpvc] {
        height: 28px;
    }

.btn-cards-right[b-c56h67kpvc] {
    border: 0;
    padding: 0;
    height: 140px;
    color: white;
    background-color: transparent;
    z-index: 100;
    position: absolute;
    right: 0;
}

    .btn-cards-right img[b-c56h67kpvc] {
        height: 28px;
    }
