<a href="/historico-compras" class="btn-carrinho" aria-label="Histórico de Compras">
    <img src="/images/icoementrega.png" alt="Histórico de Compras" width="20px" height="20px" />
</a>


@code {

}
