<a href="/fornecedor/produtos" class="btn-carrinho" aria-label="Produtos disponíveis do fornecedor">
    <img src="/images/icocatalog.png" alt="Produtos disponíveis do fornecedor" width="20px" height="20px" />
</a>
