<a href="/fornecedor/vendas" class="btn-carrinho" aria-label="Histórico de Vendas do Fornecedor">
    <img src="/images/icoementrega.png" alt="Histórico de Vendas do Fornecedor" width="20px" height="20px" />
</a>
