<a href="/fornecedor/produtos" class="btn-carrinho" aria-label="Editar produtos disponíveis do fornecedor">
    <img src="/images/icoedit.png" alt="Editar produtos disponíveis do fornecedor" width="20px" height="20px" />
</a>
