/* /Pages/ModalLogin.razor.rz.scp.css */
body[b-cdpghd87lk] {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal[b-cdpghd87lk] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content[b-cdpghd87lk] {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close[b-cdpghd87lk] {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover[b-cdpghd87lk],
    .close:focus[b-cdpghd87lk] {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
/* /Pages/RegisterUser.razor.rz.scp.css */
body[b-6mvy2bg9ry] {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal[b-6mvy2bg9ry] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content[b-6mvy2bg9ry] {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close[b-6mvy2bg9ry] {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover[b-6mvy2bg9ry],
    .close:focus[b-6mvy2bg9ry] {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6at81qbbni] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:antiquewhite;
}

main[b-6at81qbbni] {
    flex: 1;
}

.sidebar[b-6at81qbbni] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6at81qbbni] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6at81qbbni]  a, .top-row[b-6at81qbbni]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-6at81qbbni]  a:hover, .top-row[b-6at81qbbni]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-6at81qbbni]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-6at81qbbni] {
        justify-content: space-between;
    }

        .top-row[b-6at81qbbni]  a, .top-row[b-6at81qbbni]  .btn-link {
            margin-left: 0;
        }
}

@media (max-width: 641px) {
    .page[b-6at81qbbni] {
        flex-direction: row;
        background-image: linear-gradient(#000000, #000000);
    }

    .sidebar[b-6at81qbbni] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6at81qbbni] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-6at81qbbni]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-6at81qbbni], article[b-6at81qbbni] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
